<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
	
	<!-- nav -->
	<th:block th:replace="/fragments/nav.html :: fragment-nav" />

	<div class="container-sm mt-4">
		
		<table class="table">
		
			<thead>
    			<tr>
					<th scope="col"></th>
					<th scope="col">작성자</th>
					<th scope="col">제목</th>
					<th scope="col">작성날짜</th>
				</tr>
 			</thead>
 			
			<tbody>
				<th:block th:each="board, i : ${boardList}">
					<tr>
						<th scope="row" th:text="${i.count}">1</th>
						<td th:text="${board.board_writer}">작성자</td>
						<td th:text="${board.board_title}">제목</td>
						<td th:text="${board.board_date}">작성날짜</td>
					</tr>
				</th:block>
			</tbody>
		</table>
		
		<div class="">
			<button class="btn btn-primary">글 등록</button>
			<button class="btn btn-primary">수정</button>
			<button class="btn btn-primary">삭제</button>
		</div>
		
		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">
				<li class="page-item disabled">
					<a class="page-link">Previous</a>
				</li>
				<li class="page-item active"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item">
					<a class="page-link" href="#">Next</a>
				</li>
			</ul>
		</nav>
		
		<form class="d-flex px-5" role="search">
			<select class="form-select flex-grow-0" aria-label="Default select example">
				<option selected>제목</option>
				<option value="1">One</option>
				<option value="2">Two</option>
				<option value="3">Three</option>
			</select>
			
			<div class="input-group flex-grow-1">
				<input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
				<button class="btn btn-primary" type="button" id="button-addon2">Button</button>
			</div>

	    </form>
		
	</div>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</html>
