<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- head -->
<th:block th:replace="/fragments/header.html :: fragment-header"/>
<body>
	
	<!-- nav -->
	<th:block th:replace="/fragments/nav.html :: fragment-nav" />

	<div class="container-sm mt-4">
		
		<div class="btn-group float-end">
			<button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" th:text="|${size}개씩 보기|">
			  5개씩 보기
			</button>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="#" th:href="@{/board/board-list-form?size=5}">5개씩 보기</a></li>
				<li><a class="dropdown-item" href="#" th:href="@{/board/board-list-form?size=10}">10개씩 보기</a></li>
				<li><a class="dropdown-item" href="#" th:href="@{/board/board-list-form?size=50}">50개씩 보기</a></li>
				<li><a class="dropdown-item" href="#" th:href="@{/board/board-list-form?size=100}">100개씩 보기</a></li>
			</ul>
		</div>
	
		<table class="table table table-hover mt-1" id="board_list_table">
	
			<colgroup>
				<col style="width: 10%">
				<col style="width: 20%">
				<col style="width: 40%">
				<col style="width: 20%">
				<col style="width: 10%">
			</colgroup>
		
			<thead>
    			<tr>
					<th scope="col"></th>
					<th scope="col">작성자</th>
					<th scope="col">제목</th>
					<th scope="col">작성날짜</th>
					<th scope="col">조회수</th>
				</tr>
 			</thead>
 			
			<tbody>
				
				<th:block th:if="${boardList.content.size == 0}">
					<tr>
						<td colspan="5" align="center">데이터가 없습니다.</td>
					</tr>
				</th:block>
				
				<th:block th:each="board, i : ${boardList}">
					<tr th:onclick="@{|location.href='/board/board-detail-form/${board.id}'|}" style="cursor: pointer;">
						<th scope="row" th:text="${board.id}">1</th>
						<td th:text="${board.board_writer}">작성자</td>
						<td th:text="${board.board_title}">제목</td>
						<td th:text="${board.board_date}">작성날짜</td>
						<td th:text="${board.board_hit}">조회수</td>
					</tr>
				</th:block>
			</tbody>
		</table>

		<div class="float-end">
			<button class="btn btn-primary" th:onclick="|location.href='@{/board/board-write-form}'|">글 등록</button>
		</div>
		
		<br/>
		<br/>
		
		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">
				
				<li class="page-item" th:classappend="${startPage==1? ' disabled' : ' '}">
					<a class="page-link" th:href="@{/board/board-list-form?size={size}&page={page}(size=${size}, page=${startPage-2})}">Previous</a>
				</li>
				
				<th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
					<li class="page-item" th:classappend="${nowPage==page-1? ' active' : ' '}">
						<a class="page-link" href="#" th:text="${page}" th:href="@{/board/board-list-form?size={size}&page={page}(size=${size}, page=${page-1})}">1</a>
					</li>
				</th:block>
				
				<li class="page-item" th:classappend="${totalPages<=endPage? ' disabled' : ' '}">
					<a class="page-link" href="#" th:href="@{/board/board-list-form?size={size}&page={page}(size=${size}, page=${endPage})}">Next</a>
				</li>
			</ul>
		</nav>
		
		<div class="container">
			<form class="d-flex px-5" role="search" onsubmit="return false">
				
				<div class="col-md-3">
					<select class="form-select" aria-label="Default select example" id="searchType">
						<option value="title" selected>제목</option>
						<option value="titcont">제목+내용</option>
						<option value="content">내용</option>
						<option value="writer">작성자</option>
					</select>
				</div>
				
				<div class="col-md-9">
					<div class="input-group">
						<input type="text" class="form-control" id="searchKeyword" placeholder="검색 키워드를 입력해주세요." aria-label="Recipient's username" aria-describedby="button-addon2">
						<button class="btn btn-primary" type="button" id="button-addon2" onclick="searchList();">검색</button>
					</div>
				</div>
				
		    </form>
		
		</div>
		
	    <br/>
	    <br/>
		
	</div>

</body>

<script>
	$(document).ready(function(){
		$("#searchKeyword").keypress(function(e){
			if(e.keyCode==13){
				if($("#searchKeyword").val()==''){
					// 검색 키워드 입력 안할시
				}else{
					searchList();
				}
			}
		});
		
	});

	function searchList(){
		
		var searchType = $("#searchType option:selected").val();
		var searchKeyword = $("#searchKeyword").val();
		
		$.ajax({	
			type : "post",
			url : "/board/board-search",
			data : "searchType="+searchType+"&searchKeyword="+searchKeyword,
			datatype : "json",
			success : function(data){
				
				$("#board_list_table tbody").empty();
				
				if(data.length<=0){
					$("#board_list_table tbody").html("<tr><td colspan='5' align='center'>데이터가 없습니다.</td></tr>");
				}else{
					
					for(var i=0; i<data.length; i++){
						
						$("#board_list_table tbody").append(
							"<tr onclick=\"location.href='/board/board-detail-form/"+data[i].id+"'\" "+"style='cursor: pointer;'>"
								+"<th scope="+"row"+">"+data[i].id+"</th>"
								+"<td>"+data[i].board_writer+"</td>"
								+"<td>"+data[i].board_title+"</td>"
								+"<td>"+data[i].board_date+"</td>"
								+"<td>"+data[i].board_hit+"</td>"
							+"</tr>"
						);
					}
				}
			},
			error : function(e){alert("ajax 전송 실패");}
		});
		
	}

</script>

</html>
