<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- head -->
<th:block th:replace="/fragments/header.html :: fragment-header"/>
<body>

	<!-- nav -->
	<th:block th:replace="/fragments/nav.html :: fragment-nav" />
	
	<div class="container-sm mt-4">
		
		<div class="mb-3">
			<label for="exampleFormControlInput1" class="form-label">카테고리</label>
			<select class="form-select" aria-label="Default select example" name="board_category">
				<option selected disabled="disabled" th:text="${board.board_category}">카테고리를 선택해주세요.</option>
			</select>
		</div>
		
		<div class="mb-3">
			<label for="exampleFormControlInput1" class="form-label">글쓴이</label>
			<input type="text" class="form-control" id="exampleFormControlInput1" name="board_writer" th:value="${board.board_writer}" readonly>
		</div>
		
		<div class="mb-3">
			<label for="exampleFormControlInput1" class="form-label">제목</label>
			<input type="text" class="form-control" id="exampleFormControlInput1" name="board_title" th:value="${board.board_title}" readonly>
		</div>
		
		
		<div class="mb-3">
			<label for="exampleFormControlTextarea1" class="form-label">본문</label>
			<textarea class="form-control" id="exampleFormControlTextarea1" name="board_content" rows="5" th:text="${board.board_content}" readonly></textarea>
		</div>
		
		<div class="mb-3">
			
			<button class="btn btn-primary" th:onclick="|location.href='@{/board/board-list-form}'|">글목록</button>
			<div class="float-end">
				<button class="btn btn-info" th:onclick="|location.href='@{/board/board-edit-form/{id}(id=${board.id})}'|">수정</button>
				<form action="#" th:action="@{/board/board-delete/{id}(id=${board.id})}" method="post" style="display: inline;">
					<input type="hidden" name="_method" value="delete"/>
					<input type="submit" class="btn btn-danger" value="삭제"/>
				</form>
			</div>
		</div>
		
	</div>
	

</body>

</html>
