<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- head -->
<th:block th:replace="/fragments/header.html :: fragment-header"/>
<body>

	<!-- nav -->
	<th:block th:replace="/fragments/nav.html :: fragment-nav" />
	
	<div class="container mt-3">
		
		<form action="/board/board-write" method="post">
		
			<div class="mb-3">
				<label for="exampleFormControlInput1" class="form-label">카테고리</label>
				<select class="form-select" aria-label="Default select example" name="board_category">
					<option selected>카테고리를 선택해주세요.</option>
					<option value="카테고리1">카테고리1</option>
					<option value="카테고리2">카테고리2</option>
					<option value="카테고리3">카테고리3</option>
				</select>
			</div>
			
			<div class="mb-3">
				<label for="exampleFormControlInput1" class="form-label">글쓴이</label>
				<input type="text" class="form-control" id="exampleFormControlInput1" name="board_writer" placeholder="이름을 입력해주세요.">
			</div>
			
			<div class="mb-3">
				<label for="exampleFormControlInput1" class="form-label">제목</label>
				<input type="text" class="form-control" id="exampleFormControlInput1" name="board_title" placeholder="제목을 입력해주세요.">
			</div>
			
			
			<div class="mb-3">
				<label for="exampleFormControlTextarea1" class="form-label">본문</label>
				<textarea class="form-control" id="exampleFormControlTextarea1" name="board_content" rows="5"></textarea>
			</div>
			
			<div class="mb-3">
				<input type="submit" class="btn btn-primary" value="등록">
				
				<button class="btn btn-primary" th:onclick="|location.href='@{/board/board-list}'|">취소</button>
			</div>

		</form>

	</div>
			


</body>

</html>
