<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- head -->
<th:block th:replace="/fragments/header.html :: fragment-header"/>
<body>

	<!-- nav -->
	<th:block th:replace="/fragments/nav.html :: fragment-nav" />
	
	<div class="container-sm mt-4">
		<div>
			<form action="#" th:action="@{/member/member-login}" method="post">
				<input type="text" name="member_name" placeholder="아이디를 입력하세요.">
				<input type="password" name="password" placeholder="비밀번호를 입력하세요.">
				<button class="btn btn-primary">로그인</button>
			</form>
			<a href="/member/member-regist-form">아이디가 없으신가요?</a>
		</div>
	</div>
	
</body>

</html>
