<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- head -->
<th:block th:replace="/fragments/header.html :: fragment-header"/>
<body>

	<!-- nav -->
	<th:block th:replace="/fragments/nav.html :: fragment-nav" />
	
	<div class="container-sm mt-4">
		<div>
			<form action="#" th:action="@{/member/member-regist}" method="post">
				<div>
					<label for="email">이메일</label>
					<input type="text" name="email" id="email">
				</div>
	
				<div>
					<label for="name">닉네임</label>
					<input type="text" name="name" id="name">
				</div>				

				<div>
					<label for="password">비밀번호</label>
					<input type="password" name="password" id="password" placeholder="비밀번호를 입력하세요.">
				</div>

				<button class="btn btn-primary">회원가입</button>
			</form>
		</div>
	</div>
	
</body>

</html>
